In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from flask import Flask

In [2]:
pip install pandoc

Requirement already satisfied: pandoc in c:\users\deepna\appdata\local\programs\python\python314\lib\site-packages (2.4)
Requirement already satisfied: plumbum in c:\users\deepna\appdata\local\programs\python\python314\lib\site-packages (from pandoc) (1.9.0)
Requirement already satisfied: ply in c:\users\deepna\appdata\local\programs\python\python314\lib\site-packages (from pandoc) (3.11)
Requirement already satisfied: pywin32 in c:\users\deepna\appdata\local\programs\python\python314\lib\site-packages (from plumbum->pandoc) (311)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
print("âœ… Environment ready for chatbot development!")

âœ… Environment ready for chatbot development!

In [4]:

file_path = "C:\\Users\\DEEPNA\\Documents\\financial-chatbot-project\\data\\three_companies_financials.xlsx"
df = pd.read_excel(file_path)
df.head()

,Company,Fiscal Year End,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2024-06-30,2024,245122,88136,512163,243686,118548
1,Microsoft,2023-06-30,2023,211915,72361,411976,205753,87582
2,Microsoft,2022-06-30,2022,198270,72738,364840,198298,89035
3,Tesla,2024-12-31,2024,97690,7153,122070,48453,14923
4,Tesla,2023-12-31,2023,96773,14974,106618,43009,13256

In [5]:
def simple_chatbot(user_query):
    user_query = user_query.lower()  # make it case-insensitive

    if "total revenue" in user_query:
        df_2024 = df[df["Year"] == 2024]
        response = "Hereâ€™s the total revenue for 2024:\n"
        for i, row in df_2024.iterrows():
            response += f"- {row['Company']}: ${row['Total Revenue']} million\n"
        return response

    elif "net income" in user_query:
        df_2023 = df[df["Year"] == 2023]
        df_2024 = df[df["Year"] == 2024]
        response = "Net income change from 2023 to 2024:\n"
        for company in df_2024["Company"].unique():
            val_2023 = df_2023[df_2023["Company"] == company]["Net Income"].values[0]
            val_2024 = df_2024[df_2024["Company"] == company]["Net Income"].values[0]
            change = ((val_2024 - val_2023) / val_2023) * 100
            response += f"- {company}: {change:.2f}% change\n"
        return response

    elif "highest assets" in user_query:
        df_2024 = df[df["Year"] == 2024]
        top = df_2024.loc[df_2024["Total Assets"].idxmax()]
        return f"In 2024, {top['Company']} had the highest total assets (${top['Total Assets']} million)."

    elif "cash flow" in user_query:
        df_2024 = df[df["Year"] == 2024]
        response = "Cash flow from operating activities (2024):\n"
        for i, row in df_2024.iterrows():
            response += f"- {row['Company']}: ${row['Cash Flow from Operating Activities']} million\n"
        return response

    elif "growth" in user_query:
        return "Overall, Microsoft shows consistent growth, Apple remains stable, and Tesla shows fluctuations."

    else:
        return "Sorry, I can only answer specific financial queries like total revenue, net income, assets, or cash flow."

In [6]:
while True:
    query = input("Ask the chatbot (or type 'exit' to quit): ")
    if query.lower() == "exit":
        print("Goodbye ðŸ‘‹")
        break
    print(simple_chatbot(query))

Ask the chatbot (or type 'exit' to quit):  total revenue of 2024

Hereâ€™s the total revenue for 2024:
- Microsoft: $245122 million
- Tesla: $97690 million
- Apple: $391035 million

Ask the chatbot (or type 'exit' to quit):  net income

Net income change from 2023 to 2024:
- Microsoft: 21.80% change
- Tesla: -52.23% change
- Apple: -3.36% change

Ask the chatbot (or type 'exit' to quit):  highest assets

In 2024, Microsoft had the highest total assets ($512163 million).

Ask the chatbot (or type 'exit' to quit):  cash flow

Cash flow from operating activities (2024):
- Microsoft: $118548 million
- Tesla: $14923 million
- Apple: $118254 million

Ask the chatbot (or type 'exit' to quit):  growth

Overall, Microsoft shows consistent growth, Apple remains stable, and Tesla shows fluctuations.

Ask the chatbot (or type 'exit' to quit):  hi

Sorry, I can only answer specific financial queries like total revenue, net income, assets, or cash flow.

Ask the chatbot (or type 'exit' to quit):  exit

Goodbye ðŸ‘‹

### ðŸ§  Chatbot Prototype Summary

This prototype chatbot is designed to answer predefined financial queries based on data from Microsoft, Tesla, and Apple (2022â€“2024).

**Supported Queries:**
- Total revenue for 2024
- Net income change from 2023 to 2024
- Company with highest total assets
- Cash flow from operating activities
- Overall growth summary

**How It Works:**
- The chatbot uses conditional logic (`if-elif`) to match user input.
- It retrieves responses dynamically from the DataFrame using pandas.
- Interaction happens through the command line via `input()`.

**Limitations:**
- Only responds to specific, predefined questions.
- Doesnâ€™t process free-form or complex natural language.
- Data must be preloaded manually from Excel.